<div class ="center">
  <h1>The coach's answer</h1>
<h3>The coach will never care unless you are going to work</h3>
<p>Say: "I am going to work" to make him happy</p>
</div>
<div class="question">
  <p>Your question:</p>
   <%= @question %>
</div>
<div class="answer">
  <p>The coach's answer:</p>
<%= @answer %>
<%= link_to "Ask again", ask_path %>
</div>

