<div class="center">
<h1>Ask the stupid coach</h1>
<h2>Do not forget the "?" at the end of your question</h2>
<p>*You can also say what's the first thing comes out of your mind :D!</p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask the coach!">
  <input type="submit" value="Ask!">
</form>
</div>
